<nav class="navbar-fixed-top">
        
        <div class="headingBar" >
            <div id="headingTop">
                <span class="F-left">
                <a ng-href="#/home"><img class="icon-resize" src="img/left-arrow.png"></a></span>
                <span class="F-center" >Casual</span>
                <span class="F-right"><img class="icon-resize" src="img/iconEmpty.png" ></a></span>
            </div>          
        </div>
</nav>
<div class="empty"><img src="img/empty.png"></div>

<div class="panel-group" id="accordion">
			  <div class="panel panel-default">
			    <div class="panel-heading card_view1">
			        <a data-toggle="collapse" data-parent="#accordion" 
			          data-target="#collapse1">
			        <img src="img/sub1.jpg" class="card_img">  
			        </a>
			      </h4>
			    </div>
			    <div id="collapse1" class="panel-collapse collapse">
			      <div class="panel-body card_view1 T-center">
				      <div class="Fifth card_item"><img src="img/C1.jpg" class="card_img">
					      <div>
					      <span >Name</span>
					      <span class="Color-red">Price</span>
				      	  </div>				     
				      </div>	
				      <div class="Fifth card_item"><img src="img/C1.jpg" class="card_img">
					      <div>
					      <span >Name</span>
					      <span class="Color-red">Price</span>
				      	  </div>				     
				      </div>		
				      <div class="Fifth card_item"><img src="img/C1.jpg" class="card_img">
					      <div>
					      <span >Name</span>
					      <span class="Color-red">Price</span>
				      	  </div>				     
				      </div>	
				      <div class="Fifth card_item"><img src="img/C1.jpg" class="card_img">
					      <div>
					      <span >Name</span>
					      <span class="Color-red">Price</span>
				      	  </div>				     
				      </div>	
				      <div class="Fifth card_item"><img src="img/C1.jpg" class="card_img">
					      <div>
					      <span >Name</span>
					      <span class="Color-red">Price</span>
				      	  </div>				     
				      </div>					      
			      </div>
			    </div>
			  </div>


			</div>

	</div>