<nav class="navbar-fixed-top">
        
        <div class="headingBar" >
            <div id="headingTop">
                <span class="F-left">
                <a ng-href="#/home"><img class="icon-resize" src="img/left-arrow.png"></a></span>
                <span class="F-center" >Casual</span>
                <span class="F-right"><img class="icon-resize" src="img/iconEmpty.png" ></a></span>
            </div>          
        </div>
</nav>
<div class="empty"><img src="img/empty.png"></div>

<a ng-href="#/search">
<div class="card_view1">
	<img class="card_img" src="img/OutCasual1.jpg"/>
</div>
<div class="card_view2">
	<img class="card_img" src="img/OutCasual2.jpg"/>
</div>
<div class="card_view2">
	<img class="card_img" src="img/OutCasual3.jpg"/>
</div>
<div class="card_view2">


	<img class="card_img" src="img/OutCasual4.jpg"/>
</div>
</a>

